{% if user.is_authenticated %}
<li class="nav-item dropdown d-flex flex-column justify-content-center">
  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
    aria-expanded="false">
    <i class="fas fa-user"></i>
  </a>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
    <li>
      <a class="dropdown-item" href="">
        종아요한 글
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="">
        설정
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="{% url 'accounts:logout' %}">
        로그아웃
      </a>
    </li>
  </ul>
</li>
{% else %}
<li class="nav-item d-flex flex-column justify-content-center">
  <button type="button" class="bttn-unite bttn-sm bttn-success text-decoration-none" data-bs-toggle="modal"
    data-bs-target="#loginModal">
    로그인
  </button>
</li>
{% endif %}