{% if user.is_authenticated %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
    aria-expanded="false">
    {{ user.username }}
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <li>
      <form action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %}
        <button>로그아웃</button>
      </form>
    </li>
  </ul>
</li>
{% else %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  로그인
</button>
{% include "login_modal.html" %}

{% endif %}