{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {# fontawesom CDN #}
  <script src="https://kit.fontawesome.com/5ac56ffa94.js" crossorigin="anonymous"></script>
  {% bootstrap_css %}
  {% block head %}
  {% endblock head %}
  <style>
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
  <title>방콕 여행</title>
</head>

<body>
  {# navbar 컴포넌트 #}
  {% include 'nav.html' %}

  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>

  {% bootstrap_javascript %}
  {% block body %}
  {% endblock body %}
</body>

</html>