<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <title>Document</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

  <style type="text/css">
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    #map,
    #pano {
      float: left;
      height: 100%;
      width: 50%;
    }
  </style>
  <script>
    function initialize() {
      const fenway = {
        lat: 42.345573,
        lng: -71.098326
      };
      const map = new google.maps.Map(document.getElementById("map"), {
        center: fenway,
        zoom: 14,
      });
      const panorama = new google.maps.StreetViewPanorama(
        document.getElementById("pano"), {
          position: fenway,
          pov: {
            heading: 34,
            pitch: 10,
          },
        }
      );
      map.setStreetView(panorama);
    }
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex" method="POST" action="{% url 'accounts:signout' %}">
          {%csrf_token%}
          <button class="btn btn-outline-success" type="submit">로그아웃</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container">
    {% block content %}

    {% endblock content %}
  </div>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBl811VWZxmD068XJEbrhu_-EWzsi1CXpg&callback=initialize&libraries=&v=weekly"
    async>
  </script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</body>

</html>