{# map 컴포넌트 #}
<script>
  function initialize() {
    lat = "{{lat}}"
    lng = "{{lng}}"
    heading = "{{heading}}"
    pitch = "{{pitch}}"

    const fenway = {
      lat: Number(lat),
      lng: Number(lng),
    };
    const map = new google.maps.Map(document.getElementById("map"), {
      center: fenway,
      zoom: 14,
    });
    const panorama = new google.maps.StreetViewPanorama(
      document.getElementById("pano"), {
        position: fenway,
        pov: {
          heading: Number(heading),
          pitch: Number(pitch),
        },
      }
    );
    map.setStreetView(panorama);
  }
</script>