<nav class="sticky-top d-flex navbar-light bg-white px-md-5 py-3 px-5 mb-4">
  <a class="navbar-brand fs-4 font-logo text-secondary" href="{% url 'posts:home' %}">Bangkok Travel</a>
  <ul class="navbar-nav flex-row ms-auto gap-3">
    {% if user.is_authenticated %}
    <li class="nav-item d-flex flex-column justify-content-center">
      <a class="bttn-unite bttn-sm bttn-success text-decoration-none" href="{% url 'posts:create' %}">
        글 작성
      </a>
    </li>
    {% endif %}
    {# 인증 관련 컨포넌트 #}
    {% include "auth.html" %}
  </ul>
</nav>