@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.font-logo {
  font-family: 'Rubik', sans-serif;
}

.fs-7 {
  font-size: 0.8rem;
}

.fs-8 {
  font-size: 0.5rem;
}