<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">정말 삭제하실건가요?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="bttn-fill bttn-md bttn-danger" data-bs-dismiss="modal">No</button>
        <form action="{% url 'posts:delete' post.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="bttn-fill bttn-md bttn-success">Yes</button>
        </form>
      </div>
    </div>
  </div>
</div>