{% extends 'base.html' %}
{% load static %}

{% block head %}
{# google map Api 설정 스크립트 #}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
{# map script 컴포넌트 #}
{% include 'posts/detail/map.html' with lat=post.lat lng=post.lng heading=post.heading pitch=post.pitch  %}
<link rel="stylesheet" href="{% static 'css/map.css' %}">
<link rel="stylesheet" href="{% static 'posts/css/detail.css' %}">
{% endblock head %}

{% block content %}
<div class="container">
  {# 제목 #}
  <div class="mb-3">
    <p class="fw-bolder fs-1">{{ post.title }}</p>
  </div>
  {# 수정 삭제 버튼 #}
  {% if post.user == request.user %}
  <div class="d-flex justify-content-end gap-2 mb-3">
    <a class="text-decoration-none text-muted fs-7" href="{% url 'posts:update' post.id %}">수정</a>
    <a class="text-decoration-none text-muted fs-7" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal">삭제</a>
  </div>
  {# 삭제 modal #}
  {% include "posts/detail/delete.html" %}
  {% endif %}

  {# 글 헤더 영역 #}
  <div class="d-flex mb-3 align-items-center gap-1">
    <span class="fw-bold fs-7 d-inline">
      <a class="text-decoration-none text-dark fw-bold" href="">{{ post.user }}</a>
    </span>
    <span>
      ·
    </span>
    <span class="text-decoration-none fs-7">
      {{ post.updated_at | date:"Y년 M d일 H:m" }}
    </span>
  </div>

  {# 지도 영역 #}
  <div class="d-flex justify-content-center mb-5">
    <div class="map" id="map"></div>
  </div>

  {# 글 내용 영역 #}
  <div class="mb-5">
    {{ post.content|safe }}
  </div>

  {# 좋아요 영역 #}
  {% include "posts/detail/like.html" %}

  {# 댓글 영역 #}
  {% include "posts/detail/comment.html" %}

  {% include "api_key.html" with MAPS_API_KEY=MAPS_API_KEY %}
</div>
{% endblock content %}