{% extends 'base.html' %}
{% load static %}

{% block head %}
{# google map Api 설정 스크립트 #}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
{# map script 컴포넌트 #}
{% include 'map.html' with lat=post.lat lng=post.lng %}
<link rel="stylesheet" href="{% static 'posts/css/map.css' %}">
{% endblock head %}

{% block content %}
<div class="d-flex justify-content-center">
  <div class="map" id="map"></div>
  <div class="pano" id="pano"></div>
</div>
<a href="{% url 'posts:index' %}">돌아가기</a>
{% if post.user == user %}
<form action="{% url 'posts:update' post.id %}">
  <button>수정</button>
</form>
<form action="{% url 'posts:delete' post.id %}" method="POST">
  {% csrf_token %}
  <button>삭제</button>
</form>
{% endif %}

<script src="https://maps.googleapis.com/maps/api/js?key={{MAPS_API_KEY}}&callback=initialize&libraries=&v=weekly"
  async>
</script>
{% endblock content %}
{% block body %}

{% endblock body %}