{% extends 'base.html' %}
{% load static %}

{% block head %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script>
  function initialize() {
    lat = "{{post.lat}}"
    lng = "{{post.lng}}"
    console.log(lat, lng)
    const fenway = {
      lat: Number(lat),
      lng: Number(lng),
    };
    const map = new google.maps.Map(document.getElementById("map"), {
      center: fenway,
      zoom: 14,
    });
    const panorama = new google.maps.StreetViewPanorama(
      document.getElementById("pano"), {
        position: fenway,
        pov: {
          heading: 34,
          pitch: 10,
        },
      }
    );
    map.setStreetView(panorama);
  }
</script>

<link rel="stylesheet" href="{% static 'posts/css/map.css' %}">
{% endblock head %}


{% block content %}
<div class="d-flex justify-content-center">
  <div id="map"></div>
  <div id="pano"></div>
</div>

<a href="{% url 'posts:index' %}">돌아가기</a>
{% if post.user == user %}
<form action="{% url 'posts:update' post.id %}">
  <button>수정</button>
</form>
<form action="{% url 'posts:delete' post.id %}" method="POST">
  {% csrf_token %}
  <button>삭제</button>
</form>
{% endif %}
{% endblock content %}


{% block body %}
<script src="https://maps.googleapis.com/maps/api/js?key={{MAPS_API_KEY}}&callback=initialize&libraries=&v=weekly"
  async>
</script>
{% endblock body %}