{% extends 'base.html' %}
{% load static %}
{% block head %}
{# google map Api 설정 스크립트 #}
<link rel="stylesheet" href="{% static 'posts/css/map.css' %}">
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
{# post 별 map script 컴포넌트 #}
{% include 'map_list.html' with lat_list=lat_list lng_list=lng_list id_list=id_list %}

{% endblock head %}
{% block content %}
<h1>home html</h1>

{% for post in posts %}
<div class="map visually-hidden" id="map{{post.id}}"></div>
<div class="pano" id="pano{{post.id}}"></div>
<a href="{% url 'posts:detail' post.id %}">{{post.title}}</a>
{% endfor %}

<script src="https://maps.googleapis.com/maps/api/js?key={{MAPS_API_KEY}}&callback=initialize&libraries=&v=weekly"
  async>
</script>
{% endblock content %}