<div class="mb-5 text-center">
  <div>
    {% if request.user.is_authenticated %}
    <button id="{{ post.id }}" class="bttn-bordered bttn-sm bttn-success" onclick="post_like(this.id)">
      {%if request.user in post.like.all%}
      <i id="heart" class="fas fa-heart"></i>
      {% else %}
      <i id="heart" class="far fa-heart"></i>
      {% endif %}
    </button>
    {% else %}
    <i id="heart" class="far fa-heart"></i>
    {% endif %}
  </div>
  <div class="fs-7 text-secondary">
    <span id="like_count">{{ post.like_count }}</span>
  </div>
</div>

<script>
  function post_like(id) {
    $.ajax({
      url: "{% url 'posts:like' %}", // data를 전송할 url 입니다.
      data: {
        'post_id': id
      }, // post_id 라는 name으로 id 값 전송
      dataType: "json",
      success: function (response) { // ajax 통신이 정상적으로 완료되었을 때
        $('#like_count').html(response.like_count) //id가 like_count의 내용을 전송받은 좋아요 수로 바꾼다
        $('#state').html(response.state) //id가 state의 내용을 전송받은 state로 바꾼다
        if (response.state == "좋아요")
        //좋아요 눌렀을 때 
        {
          $('#heart').attr("class", "fas fa-heart")
        } else if (response.state == "좋아요 취소")
        //좋아요 상태에서 다시 눌렀을 때 
        {
          $('#heart').attr("class", "far fa-heart")
        }
      }
    })
  }
</script>