<div class="col">
  <div class="card">
    <img src="{{post.static_image}}" class="card-img-top">
    <div class="map visually-hidden" id="map{{post.id}}"></div>
    <div class="pano" id="pano{{post.id}}"></div>
    <div class="card-body">
      <h5 class="card-title">
        <a class="stretched-link" href="{% url 'posts:detail' post.id %}">{{post.title}}</a>
      </h5>
      <p class="card-text">{{post.content}}</p>
    </div>
    <div class="card-footer text-muted">
      {{post.user}}
    </div>
  </div>
</div>